## Pandas

In [1]:
import pandas as pd

In [8]:
d=pd.read_csv('weather.csv')
d

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [45]:
d=pd.read_csv('weather.csv',nrows=7)
d

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
5,2006-04-01 05:00:00.000 +0200,Partly Cloudy,rain,9.222222,7.111111,0.85,13.9587,258.0,14.9569,0.0,1016.66,Partly cloudy throughout the day.
6,2006-04-01 06:00:00.000 +0200,Partly Cloudy,rain,7.733333,5.522222,0.95,12.3648,259.0,9.9820,0.0,1016.72,Partly cloudy throughout the day.

In [9]:
print(len(d))

96453

In [10]:
d.head(10)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
5,2006-04-01 05:00:00.000 +0200,Partly Cloudy,rain,9.222222,7.111111,0.85,13.9587,258.0,14.9569,0.0,1016.66,Partly cloudy throughout the day.
6,2006-04-01 06:00:00.000 +0200,Partly Cloudy,rain,7.733333,5.522222,0.95,12.3648,259.0,9.9820,0.0,1016.72,Partly cloudy throughout the day.
7,2006-04-01 07:00:00.000 +0200,Partly Cloudy,rain,8.772222,6.527778,0.89,14.1519,260.0,9.9820,0.0,1016.84,Partly cloudy throughout the day.
8,2006-04-01 08:00:00.000 +0200,Partly Cloudy,rain,10.822222,10.822222,0.82,11.3183,259.0,9.9820,0.0,1017.37,Partly cloudy throughout the day.
9,2006-04-01 09:00:00.000 +0200,Partly Cloudy,rain,13.772222,13.772222,0.72,12.5258,279.0,9.9820,0.0,1017.22,Partly cloudy throughout the day.

In [11]:
d.tail()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [12]:
d[100:120]

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
100,2006-04-13 04:00:00.000 +0200,Overcast,rain,6.688889,3.161111,0.70,20.5275,300.0,15.8263,0.0,1007.18,Overcast throughout the day.
101,2006-04-13 05:00:00.000 +0200,Overcast,rain,6.211111,2.694444,0.73,19.3039,309.0,14.9569,0.0,1007.39,Overcast throughout the day.
102,2006-04-13 06:00:00.000 +0200,Overcast,rain,6.111111,2.800000,0.76,17.4363,300.0,9.9820,0.0,1007.67,Overcast throughout the day.
103,2006-04-13 07:00:00.000 +0200,Overcast,rain,6.111111,2.438889,0.76,20.4148,300.0,9.9820,0.0,1007.98,Overcast throughout the day.
104,2006-04-13 08:00:00.000 +0200,Overcast,rain,6.172222,2.922222,0.76,17.0499,307.0,9.9820,0.0,1008.57,Overcast throughout the day.
105,2006-04-13 09:00:00.000 +0200,Overcast,rain,7.222222,3.833333,0.71,20.5114,319.0,9.9820,0.0,1008.87,Overcast throughout the day.
106,2006-04-13 10:00:00.000 +0200,Overcast,rain,7.288889,4.244444,0.73,17.6456,328.0,9.9820,0.0,1009.44,Overcast throughout the day.
107,2006-04-13 11:00:00.000 +0200,Overcast,rain,7.405556,4.816667,0.72,14.4095,318.0,9.9820,0.0,1010.03,Overcast throughout the day.
108,2006-04-13 12:00:00.000 +0200,Overcast,rain,7.961111,6.072222,0.70,10.7548,321.0,10.0464,0.0,1010.22,Overcast throughout the day.
109,2006-04-13 13:00:00.000 +0200,Overcast,rain,8.033333,7.583333,0.70,4.8622,349.0,10.0464,0.0,1010.39,Overcast throughout the day.
110,2006-04-13 14:00:00.000 +0200,Overcast,rain,9.077778,9.077778,0.65,2.3828,348.0,10.0303,0.0,1010.24,Overcast throughout the day.
111,2006-04-13 15:00:00.000 +0200,Overcast,rain,9.050000,9.050000,0.62,0.3220,243.0,9.9820,0.0,1010.00,Overcast throughout the day.
112,2006-04-13 16:00:00.000 +0200,Overcast,rain,9.050000,9.050000,0.65,3.2522,177.0,11.2056,0.0,1009.98,Overcast throughout the day.
113,2006-04-13 17:00:00.000 +0200,Overcast,rain,9.183333,9.183333,0.65,3.0107,170.0,11.0285,0.0,1010.05,Overcast throughout the day.
114,2006-04-13 18:00:00.000 +0200,Overcast,rain,9.072222,7.455556,0.70,10.4650,172.0,9.9820,0.0,1010.10,Overcast throughout the day.
115,2006-04-13 19:00:00.000 +0200,Overcast,rain,7.983333,6.811111,0.75,7.3416,172.0,9.9820,0.0,1010.39,Overcast throughout the day.
116,2006-04-13 20:00:00.000 +0200,Overcast,rain,8.072222,6.433333,0.75,9.5151,150.0,9.9820,0.0,1010.91,Overcast throughout the day.
117,2006-04-13 21:00:00.000 +0200,Overcast,rain,7.894444,6.127778,0.82,9.9981,142.0,9.9820,0.0,1011.32,Overcast throughout the day.
118,2006-04-13 22:00:00.000 +0200,Overcast,rain,7.311111,4.805556,0.83,13.6850,141.0,11.9784,0.0,1011.61,Overcast throughout the day.
119,2006-04-13 23:00:00.000 +0200,Mostly Cloudy,rain,7.338889,5.183333,0.84,11.5437,141.0,14.1680,0.0,1011.97,Overcast throughout the day.

In [13]:
d['Humidity'].head(10)

0    0.89
1    0.86
2    0.89
3    0.83
4    0.83
5    0.85
6    0.95
7    0.89
8    0.82
9    0.72
Name: Humidity, dtype: float64

In [14]:
d['Humidity'].max()

1.0

In [15]:
d['Humidity'].min()

0.0

In [16]:
d['Humidity'].mean()

np.float64(0.7348989663359357)

In [18]:
#Conditional Statement
d['Temperature (C)'][d['Humidity']==d['Humidity'].min()]

19958    -1.111111
28101   -15.000000
28103   -15.555556
28110   -13.888889
29627     1.111111
54840   -15.555556
54858   -15.000000
54870   -16.111111
54872   -15.000000
54873   -13.888889
55086   -12.777778
55088   -12.777778
55349   -12.222222
55350   -12.222222
55352   -12.222222
55412   -17.777778
55469   -17.777778
55472   -17.777778
55473   -16.111111
55481   -12.777778
55508   -16.111111
55511   -17.777778
Name: Temperature (C), dtype: float64

In [20]:
d['Temperature (C)'][d['Humidity']==d['Humidity'].max()]

319      11.972222
342       7.155556
390       7.688889
535       5.933333
536      10.405556
           ...
95907    14.905556
96123     7.594444
96148     8.838889
96363    12.338889
96364    12.872222
Name: Temperature (C), Length: 2890, dtype: float64

In [30]:
d1 = d[d['Temperature (C)']>9]
d1

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
5,2006-04-01 05:00:00.000 +0200,Partly Cloudy,rain,9.222222,7.111111,0.85,13.9587,258.0,14.9569,0.0,1016.66,Partly cloudy throughout the day.
8,2006-04-01 08:00:00.000 +0200,Partly Cloudy,rain,10.822222,10.822222,0.82,11.3183,259.0,9.9820,0.0,1017.37,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [31]:
d1.shape

(56606, 12)

In [21]:
mydict={
    'dates':['02-01-12','03-01-12','04-01-12','05-01-12','06-01-12'],
    'day':['sunny','rainy','hot','sunny','hot'],
    'wind-speed':[12,34,45,56,67],
    'temp':[45,46,47,48,49]
}

df=pd.DataFrame(mydict)
df

      dates    day  wind-speed  temp
0  02-01-12  sunny          12    45
1  03-01-12  rainy          34    46
2  04-01-12    hot          45    47
3  05-01-12  sunny          56    48
4  06-01-12    hot          67    49

In [36]:
df.set_index('dates',inplace=True)

In [37]:
df

          Unnamed: 0    day  wind-speed  temp
dates
02-01-12           0  sunny          12    45
03-01-12           1  rainy          34    46
04-01-12           2    hot          45    47
05-01-12           3  sunny          56    48
06-01-12           4    hot          67    49

In [38]:
df.iloc[4]

Unnamed: 0      4
day           hot
wind-speed     67
temp           49
Name: 06-01-12, dtype: object

In [44]:
df.iloc[0:3]

          Unnamed: 0    day  wind-speed  temp
dates
02-01-12           0  sunny          12    45
03-01-12           1  rainy          34    46
04-01-12           2    hot          45    47

In [42]:
df.loc['02-01-12']

Unnamed: 0        0
day           sunny
wind-speed       12
temp             45
Name: 02-01-12, dtype: object

In [43]:
df.reset_index()

      dates  Unnamed: 0    day  wind-speed  temp
0  02-01-12           0  sunny          12    45
1  03-01-12           1  rainy          34    46
2  04-01-12           2    hot          45    47
3  05-01-12           3  sunny          56    48
4  06-01-12           4    hot          67    49

In [23]:
df.to_csv('mydict.csv')

In [24]:
df.shape

(5, 4)

In [26]:
df=pd.read_csv('mydict.csv')
df

   Unnamed: 0     dates    day  wind-speed  temp
0           0  02-01-12  sunny          12    45
1           1  03-01-12  rainy          34    46
2           2  04-01-12    hot          45    47
3           3  05-01-12  sunny          56    48
4           4  06-01-12    hot          67    49

In [27]:
df[['day','temp']]

     day  temp
0  sunny    45
1  rainy    46
2    hot    47
3  sunny    48
4    hot    49

In [28]:
# Statistics 
d.describe()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
count,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.0,96453.000000
mean,11.932678,10.855029,0.734899,10.810640,187.509232,10.347325,0.0,1003.235956
std,9.551546,10.696847,0.195473,6.913571,107.383428,4.192123,0.0,116.969906
min,-21.822222,-27.716667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,4.688889,2.311111,0.600000,5.828200,116.000000,8.339800,0.0,1011.900000
50%,12.000000,12.000000,0.780000,9.965900,180.000000,10.046400,0.0,1016.450000
75%,18.838889,18.838889,0.890000,14.135800,290.000000,14.812000,0.0,1021.090000
max,39.905556,39.344444,1.000000,63.852600,359.000000,16.100000,0.0,1046.380000